@font-face {
    font-family: 'roboto';
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

header {
    margin-bottom: 3%;
}

section button#login {
    font-family: roboto;
}

section form {
    padding-bottom: 5%;
}
.fontRobotoR{
    font-family: roboto;
}

.btnRedondo {
    border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    border: 0px solid #000000;
}


