<!-- Se crea contenido de la página-->
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6">
                                <h5>Detalle de usuarios firmados del día</h5>
                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix">search</i>
                                <input type="text" name="" id="buscar" class="autocomplete">
                                <label for="buscar">Buscar...</label>
                            </div>
                        </div>
                        <li class="divider"></li>
                        <div class="row">
                            <table class="bordered highlight centered responsive-table" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Nomre de usuario</th>
                                        <th>Nombre completo</th>
                                        <th>Organización</th>
                                        <th>Sesiones</th>
                                        <th>Duración de sesión</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="row">
                         <ul class="pagination center">
                              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                              <li class="active"><a href="#!">1</a></li>
                              <li class="waves-effect"><a href="#!">2</a></li>
                              <li class="waves-effect"><a href="#!">3</a></li>
                              <li class="waves-effect"><a href="#!">4</a></li>
                              <li class="waves-effect"><a href="#!">5</a></li>
                              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                         </ul>
                     </div>  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>