<!-- Se crea contenido de la página-->
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6">
                                <h5>Cuentas sin uso (30 días)</h5>
                            </div>

                            <div class="input-field col s6">
                                <i class="material-icons prefix" style="color: black">search</i>
                                <input type="text" name="" id="buscar" class="autocomplete">
                                <label for="buscar">Buscar...</label>
                            </div>
                        </div>
                        <li class="divider"></li>
                        <div class="row">
                            <table class="bordered highlight centered responsive-table" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Nomre de usuario</th>
                                        <th>Nombre completo</th>
                                        <th>Organización</th>
                                        <th>Ultima sesión</th>
                                        <th>Días sin accesos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <?php
                                            $registros = obtenerCuentasSinUsoPag();
                                            
                                            if ($registros->num_rows) {
                                                foreach ($registros as $registro){ ?>
                                                    <tr>
                                                        <td><?php echo $registro['username']?></td>
                                                        <td><?php echo $registro['full_name']?></td>
                                                        <td><?php echo $registro['organization']?></td>
                                                        <td><?php echo $registro['ultima_sesion']?></td>
                                                        <td><?php echo $registro['dias_sin_acceso']?></td>
                                                    </tr>
                                        <?php   }
                                            }?> -->
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="row">
                               <ul class="pagination center">
                                    <li class="waves-effect <?php echo $_GET['pagina']<$paginas?'disabled':'' ?>"><a href="index.php?pagina=<?php echo $_GET['pagina']-1 ?>"><i class="material-icons">chevron_left</i></a></li>
                                    
                                    <?php for($i = 0; $i < $paginas; $i++): ?>
                                    <li class="waves-effect <?php echo $_GET['pagina'] == $i+1 ? 'active' : '' ?>"><a href="index.php?pagina=<?php echo $i + 1 ?>"><?php echo $i + 1 ?></a></li>
                                    <?php endfor ?>

                                    <li class="waves-effect <?php echo $_GET['pagina']>$paginas?'disabled':'' ?>"><a href="index.php?pagina=<?php echo $_GET['pagina']+1 ?>"><i class="material-icons">chevron_right</i></a></li>
                               </ul>
                           </div>  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>