<div class="row s12">
    <div class="col s6 ">
        <h2 class="header">Total de Usuarios firmados del día</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <i class="large material-icons prefix" style="color: black">assignment_ind</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Total del conteo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col s6">
        <h2 class="header">Total de Conexiones del día</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <i class="large material-icons prefix" style="color: black">wifi</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Total del conteo</p>
                </div>
            </div>
        </div>
    </div>
</div>